bbody {
  background-color: #f1f1f1;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#music-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#audioPlayer {
  width: 70%;
  height: 40%;
  border-radius: 50px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#musicFile {
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 10px;
}

#playButton {
  background-color: #f06292;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

